# Frontend API
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000

# Firebase web app config
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Auth presence cookie
NEXT_PUBLIC_AUTH_COOKIE_NAME=auth_token
